<form method="post" action="/" style="text-align: center">
  <div>Enter number of words per paragraph</div>
  <input type="text" name="words">
  <div>Enter number of paragraphs</div>
  <input type="text" name="paragraphs">
  <div></div>
  <input type="submit" value="Generate my ipsum">
</form>