<html>
    <head>
      <style>
          body {
              background: url("/baseball-background.jpg") no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
          }
      </style>
      <title>Baseball Ipsum Generator</title>
      <link type="image/icon" rel="shortcut icon" href="icon_baseball.png">
      <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <h1>Baseball Ipsum Generator</h1>
        <div class="ipsum"><%= yield %></div>
    </body>
</html>